name: CD Pipeline - Test Model API

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

env:
  # project meta
  PROJECT_ID: ${{ secrets.GCS_PROJECT_ID }}
  REGION: ${{ secrets.GCS_REGION }}
  ENDPOINT_ID: ${{ secrets.VERTEX_ENDPOINT_ID }}
  SERVICE_ACCOUNT: ${{ secrets.VERTEX_SERVICE_ACCOUNT }}
  # model config
  IMAGE_URI: ${{ secrets.GCS_IMAGE_URI }}
  IMAGE_NAME: ${{ secrets.GCS_IMAGE_NAME}}
  AIP_MODEL_DIR: ${{ secrets.AIP_MODEL_DIR }}
  DEPLOYED_MODEL_ID: ${{ secrest.TEXT_MODEL_ID}}
jobs:
  deploy-to-vertex:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}
          service_account_key: ${{ secrets.GCS_SA_KEY }}
          export_default_credentials: true

      - name: Test Model API
        run: |
          source $GITHUB_ENV
          echo "Promoting model $DEPLOYED_MODEL_ID to 100% traffic..."
          
          gcloud ai endpoints update $ENDPOINT_ID \
            --project=$PROJECT_ID \
            --region=$REGION \
            --traffic-split=$DEPLOYED_MODEL_ID=100

          gcloud ai endpoints predict $ENDPOINT_ID\
            --project=$PROJECT_ID \
            --region=$REGION \
            --json-request=data/input_api_schema.json